body
{
    background-image:linear-gradient(blue,pink,antiquewhite);
}

.header_div
{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: deeppink;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font:bolder;
    letter-spacing: 2px;
    font-size: 18px;
}

.main_div
{
    width: 800px;
    height: 600px;
}


